body {
    background-color: #8aaee3;
}

h1, h2, h3, h4 {
    color: #003049;
}

button[kind="primary"] {
    background-color: #d62828;
    color: white;
    border-radius: 10px;
    font-weight: bold;
}

textarea {
    border-radius: 10px;
    border: 1px solid #ccc;
    padding: 12px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.1);
}

.css-1x8cf1d {
    background-color: #e0e1dd;
    border-radius: 6px;
}